codes/nodeRedflow.json
[{"id":"3b1548b3.204488","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd049ec7.d6bde","type":"watson-conversation-v1","z":"3b1548b3.204488","name":"","workspaceid":"82938782-843f-4508-bbfd-67be1a6648d7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/31a8a333-bbdd-43d1-8b9e-08ec5715c63b","timeout":"","optout-learning":false,"x":660,"y":140,"wires":[["8cad26b4.37bc98"]]},{"id":"ab1067a.7abbe98","type":"debug","z":"3b1548b3.204488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":40,"wires":[]},{"id":"8cad26b4.37bc98","type":"function","z":"3b1548b3.204488","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":340,"wires":[["ab1067a.7abbe98","80e27933.e20e68"]]},{"id":"870db745.0bc3c8","type":"ui_form","z":"3b1548b3.204488","name":"","label":"","group":"895d5d5a.3b0ce","order":0,"width":"0","height":"0","options":[{"label":"You:","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":75,"y":220,"wires":[["1af9ca9b.66f875"]],"l":false},{"id":"1af9ca9b.66f875","type":"function","z":"3b1548b3.204488","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["fd049ec7.d6bde","bf0f2c37.d19dd"]]},{"id":"80e27933.e20e68","type":"ui_text","z":"3b1548b3.204488","group":"895d5d5a.3b0ce","order":2,"width":0,"height":0,"name":"","label":"Assistant:","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":380,"wires":[]},{"id":"bf0f2c37.d19dd","type":"ui_text","z":"3b1548b3.204488","group":"895d5d5a.3b0ce","order":1,"width":"0","height":"0","name":"","label":"You:","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":540,"wires":[]},{"id":"895d5d5a.3b0ce","type":"ui_group","z":"","name":"Chatbot","tab":"c297a13.9eb4b6","order":1,"disp":true,"width":"9","collapse":false},{"id":"c297a13.9eb4b6","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false}]